@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --main-color: #f6c540;
    --dark-color: #191923;
    --light-color: #f8f8f8;
    --semimain-color: #f5f2e6;
    --semilight-color: #f3f3f3;
    --semidark-color: #23232d;
}

body {
    background-color: var(--semilight-color);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 43px;
}

h3 {
    font-family: 37px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 15px;
}
.x-small{
    font-size: 11.5px;
}
.small {
    font-size: 13px;
}

.normal {
    font-size: 14px;
}

.medium {
    font-size: 17px;
}

.large {
    font-size: 20px;
}

.text-main {
    color: var(--main-color);
}

.text-semimain {
    color: var(--semimain-color);
}

.text-dark {
    color: var(--dark-color) !important;
}

.text-light {
    color: var(--light-color) !important;
}
.text-brand{
    color: #efcc40;
}
.bg-dark {
    background-color: var(--dark-color) !important;
}
.bg-semidark{
    background-color: var(--semidark-color) !important;
}
.bg-semilight{
    background-color: var(--semilight-color);
}
.border-semilight{
    border: 1px solid #c7c7c7;
}
.bg-semimain {
    background-color: var(--semimain-color);
}
.bg-main{
    background-color: var(--main-color);
}
.z9{
    z-index: 999;
}
.contactbtn {
    background-color: var(--main-color);
    color: var(--dark-color);
    padding: 13px 30px;
    border: 0;
    font-size: 14.5px;
    width: 170px;
    text-decoration: none;
    text-align: center;
}
.m-top {
    margin-top: -86px;
}
.contactbtn:hover {
    background-color: #f4ce64;
    transition: all 0.5s;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.7) !important;
}
.navbarlinks.active{
    color: var(--main-color) !important;
}
.navbar-scrolled{
    background-color: rgba(0, 0, 0, 0.77) !important;
    transition: all 0.3s;
    border-bottom: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbarlinks{
    color: var(--light-color);
    letter-spacing: 1.3px;
    font-weight: 400;
}


.navbarlinks:hover{
    color: var(--light-color);
}
.navbar-scrolled .navbarlinks{
    /* color: var(--dark-color); */
    font-weight: 400;
}
/* dropdown animation */
.navbarlinks:focus {
    color: var(--light-color) !important;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100% !important;
    border-top: 1.66px solid var(--main-color);
    left: 0 !important;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 !important;
}

.nav-item:hover .dropdown-menu {
    display: block !important;
}

.nav-item:hover,
.nav-item:focus-within {
    display: block;
}

.navbarlinks:hover {
    color: var(--light-color);
}

.navbar-scrolled .navbarlinks {
    /* color: var(--dark-color) !important; */
    font-weight: 400 !important;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.9);
}

.dropdown-item {
    color: white;
    font-size: 13.5px;
    transition: all 0.4s ease-in-out;
}

.dropdown-item:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(71, 71, 71, 0.1));
    color: var(--semimain-color);
}

.navbarlinks:hover {
    color: var(--light-color);
}

.navbar-scrolled .navbarlinks {
    /* color: var(--dark-color); */
    font-weight: 400;
}
.heading::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 2.6px;
    background: linear-gradient(214.67deg, #faba0d -1.7%, #f3911c 92.98%);
}
.fbbtn{
    background-color: #3b5998 !important;
    border: 1px solid #3b5998 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.instabtn{
    background-image:linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important; 
}
.linkdinbtn{
    background-color: #0077b5 !important;
    border: 1px solid #0077b5 !important;
}
.container {
    max-width: 1090px !important;
}

.bg-webservice{
    background: url('./img/services/web.gif');
    height: 550px !important;
    background-size: cover;
    background-position: right;
}
.bg-appservice{
    background: url('./img/services/app.gif');
    height: 550px !important;
    background-size: cover;
    background-position: right;
}
.bg-training{
    background: url('./img/services/ittrain.gif');
    height: 550px !important;
    background-size: cover;
    background-position: right;
}
.bg-graphic{
    background: url('./img/services/graphics.gif');
    height: 550px !important;
    background-size: cover;
    background-position: right;
}
.bg-digital{
    background: url('./img/services/digital.gif');
    height: 550px !important;
    background-size: cover;
    background-position: right;
}
.top-padding{
    padding: 9rem 0;
}
.bannerContent{
    margin-top: 30px;
}
.bannerContent h4{
    position: relative;
    padding-right: 60px;
    display: inline-block;
}
.bannerContent h4::after{
    position: absolute;
    content: '';
    right: 0;
    bottom: 12px;
    height: 2px;
    width: 50px;
    background-color: #1e9fd9;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.25);
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


@media(max-width:700px){
    .bg-service{
        background-position: left;
    }
    .descover .tagline{
        font-size: 23px !important;
    }
}
.logo{
    color: #e0c456;
    font-size: 24px;
    letter-spacing: 0.33px;
    font-family: "PT Serif", serif;
    font-weight: 500;
}
.logo span{
    color: var(--main-color);
    font-weight: 600;
}
.logo:hover{
    color: #e0c456;
}
.x-small{
    font-size: 12.5px;
}
.tagline{
    font-size: 35px !important;
}

.service .nav .nav-link.active {
    border-color: var(--semidark-color);
    background: linear-gradient(135deg, rgba(0,0,0,0.78), rgba(0,0,0,0.99));
}
.service .nav-link{
    color: var(--semidark-color);
    background-color: #babfc0;
}
.bannerSection{
    position: relative;
    height: 440px;
    background-image: url('/img/webservices/takeservice.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.trainingbannerSection{
    position: relative;
    height: 440px;
    background-image: url('/img/webservices/enquiretraining.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.graphicbannerSection{
    position: relative;
    height: 440px;
    background-image: url('/img/webservices/graphicdesign.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.digitalbannerSection{
    position: relative;
    height: 440px;
    background-image: url('/img/webservices/digital-marketing.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
 
  background-color:var(--main-color);
  background-image: none;
  color: var(--dark-color);
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
 
  padding: 0;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  border-radius: 999px;
  box-sizing: border-box;
  border: none;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn-53 .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}
.sidebar{
    background-color: rgba(0, 0, 0, 0.89);
}
  .sidenav a{
    color: white !important;
    font-size: 15px !important;
  }
  .sidenav a.active{
    color: var(--main-color) !important;
  }
  /* preloader css start */

.preloader {
    background-color: rgba(0, 0, 0, 0.99);
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    transition: all 0.4s ease-in;
}

.preloader .preloader-block {
    bottom: 50%;
    position: fixed;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 3000;
}

.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.ring:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid var(--light-color);
    border-right: 3px solid var(--light-color);
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}

.loader {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

.loader:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--light-color);
    top: 0px;
    right: -4px;
    box-shadow: 0 0 20px var(--light-color);
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}
